<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Font Awesome -->
  <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <!-- iCheck -->
 <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="~/admin/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/admin/dist/css/adminlte.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="~/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Datetime picker -->
<link rel="stylesheet" href="~/admin/plugins/datetimepicker/bootstrap-datetimepicker.min.css">
  <!-- summernote -->
  <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.css">
  <!-- Bootstrap 4 RTL -->
<link rel="stylesheet" href="~/admin/dist/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css">
  <!-- DataTables -->

 <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
 <link rel="stylesheet" href="~/admin/plugins/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- RoundSlider -->
  <link rel="stylesheet" href="~/admin/plugins/roundSlider-master/roundslider.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="~/admin/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- Sweet Aler -->
  <link rel="stylesheet" href="~/admin/plugins/sweetalert2/sweetalert2.min.css">
  <!-- Custom style for RTL -->
  <link rel="stylesheet" href="~/admin/dist/css/custom.css">
    <!-- Responsive RTL -->
    <link rel="stylesheet" href="~/admin/dist/css/responsive-rtl.css">
</head>
